<!---Home page-->

<div class="container-fluid article-container">
  {{!-- {{#if articles}} --}}
  {{!-- {{#each articles}}  --}}
  <div class="card">
    <div class="card-header text-center" id="card-header">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center" id="card-body">
      <h4>
        <a class="scrape-new">Try Scraping New Articles</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
   </div>
   {{!-- {{/each}} --}}

{{!-- {{else}} --}}
<div class="container-fluid article-container">
 
  <div class='alert alert-warning text-center' id="alert">
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
  </div>
  {{!-- {{/if}} --}}
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Medium Mongo Scraper</p>
  </div>
</footer>

