<!---Home page-->

{{!-- container containing article-block partial info --}}
<div class="container-fluid article-container">
{{#each articles}} {{> article-block}} {{/each}}
</div>

{{!-- created a modal to alert the user if the article as been successfully saved or not  --}}
<div class="modal" id="scrape-success" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title"><strong>Success!</strong></h3>
      {{!-- stands for X --}}
      <button type="button" class="scrape-success-btn" data-dismiss="modal">&times;</button>
    </div>
  </div>
</div>

{{!-- modal for letting the user know there save was a success --}}
{{!-- 
<div class="modal" id="save-success" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title"><strong>Success!</strong></h3>
      {{!-- stands for X --}}
      <button type="button" class="save-success-btn" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <h7>Saved the article</h7>
    </div>
  </div>
</div> --}}

{{!-- footer info --}}
<footer class="footer">
  <div class="container">
    <p>Medium Mongo Scraper</p>
  </div>
</footer>

